version: '3'

volumes:
  n_data:

services:
  myn8n:
    image: n8nio/n8n:1.118.2
    command: ["n8n"]
    volumes:
      - n_data:/home/node/.n8n
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=somewordpress
      - MYSQL_DATABASE=wordpress
      - MYSQL_USER=wordpress
      - MYSQL_PASSWORD=wordpress
    expose:
      - 5678
