version: '3'

volumes:
  n8n_data:
services:
  my_n8n_main_medvira:
    image: n8nio/n8n:latest
    volumes:
      - n8n_data:/home/node/.n8n
    restart: always
    environment:
      # --- Basics ---
      - GENERIC_TIMEZONE=Asia/Tehran
    expose:
      - 5678
