version: '3'
volumes:
  n8n_data:
services:
  n8n:
    build:
      context: .
      dockerfile: Dockerfile
    image: https://docker.io/n8nio/n8n:latest   # tag the built image
    ports:
      - "${PORT:-5678}:5678"
    restart: always
    environment:
      - GENERIC_TIMEZONE=Asia/Tehran
      - N8N_PORT=${PORT:-5678}
    volumes:
      - n8n_data:/home/node/.n8n
