version: '3'

volumes:
  n_data:

services:
  myn8nsix:
    image: n8nio/n8n:1.118.2
    volumes:
      - n_data:/home/node/.n8n
    restart: always
    environment:
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
      - N8N_PORT=5678
      - N8N_PROTOCOL=https
      - N8N_RUNNERS_ENABLED=true
      - NODE_ENV=production
      - GENERIC_TIMEZONE=Asia/Tehran
      - TZ=Asia/Tehran
    expose:
      - 5678
